<h1>画像アップロード</h1>

<%= form_with url: images_path, method: :post, multipart: true do |f| %>
  <div>
    <label for="images">画像ファイル（複数選択可）</label><br>
    <%= file_field_tag :images, multiple: true, accept: "image/*" %>
  </div>

  <div>
    <%= f.submit "アップロード" %>
  </div>
<% end %>

<p><%= link_to "一覧に戻る", images_path %></p>
